body {
    background: white;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-container > #canvas {
    --padding: 40px;
    height: calc(min(100vh, calc(100vw / 16 * 9)) - var(--padding));
    aspect-ratio: 16 / 9;
    border: 5px solid black;
}

#resource {
    display: none;
}