/* 整体居中 */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 游戏容器 */
#game {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
    aspect-ratio: 1440 / 720;
    /* 左80 + 中1280 + 右80 */
}

/* 游戏画布 */
#game-canvas {
    position: absolute;
    top: 0;
    left: 80px;
    /* 中间画布偏移，左右各80 */
    width: 1280px;
    height: 720px;
    z-index: 0;
    display: block;
}

/* UI canvas 整体覆盖 */
#ui-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 720px;
    z-index: 1;
    pointer-events: auto;
    /* 可交互 */
}